@import "tailwindcss";
@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dates/styles.css'; 


* {
  font-family: 'Roboto', sans-serif;
}

.font-bebas {
  font-family: 'Bebas Neue', cursive;
}