VITE_CLERK_PUBLISHABLE_KEY=Credenciales para conexión con Clerk
VITE_ADMIN_ACCESS_KEY=Clave de acceso para el administrador
VITE_API_KEY=Clave API para la conexión con el backend
VITE_TRAFFIC_ENCRYPTION_KEY=Clave para la encriptación del tráfico